body {
    background-color: #F4F4F4;
    font-family: "filson-soft",sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: "filson-soft",sans-serif;
    font-style: normal;
    font-weight: 700;
}
